.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    /* height: 100vh; */
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 50px;
    overflow: scroll;
  }
  
  .sidebarWrapper {
    padding: 20px;
    color: #555;
  }
  
  .sidebarMenu {
    margin-bottom: 10px;
  }
  
  .sidebarTitle {
    font-size: 13px;
    color: rgb(187, 186, 186);
  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
  }
  
  .sidebarList a {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  .sidebarList a.active,
  .sidebarList a:hover {
    background-color: rgb(240, 240, 255);
    color: black;
    font-size: 1.1rem;
  }
  
  .sidebarIcon {
    margin-right: 5px;
    font-size: 20px;
  }
  